/* header */
.window {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

header {
    max-width: inherit;
    width: inherit;
    display: flex;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    padding: 46px 320px 45px;
    background-color: #262626;
    z-index: 1;
}

.navigation_ul {
    display: flex;
    column-gap: 68px;
}

.navigation_li {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}

.active {
    color: #DCB47A;
}

.fa-solid {
    color: #ffffff;
}

/* section_1 */
.section_1 {
    position: relative;
    top: 110px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.main_photo {
    width: 100%;
}

.section_1_div {
    position: absolute;
    top: 280px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
}

h2 {
    font-weight: 700;
    font-size: 82px;
    line-height: 96px;
}

.section_1_p {
    margin-top: 90px;
    width: 45%;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.search_div {
    position: absolute;
    margin-top: 365px;
    width: 35%;
    height: 71px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    background: rgba(255, 255, 255,);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 30px;
}

.glass{
    width: 51px;
    height: 51px;
    padding: 16px;
    border-radius: 50px;
    background: #525A55;
}

/* section_2 */
.section_2 {
    width: 70%;
    margin: 245px auto;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 75px;
    color: #081323;
    margin-bottom: 81px;
}

.section_2_div {
    display: flex;
    justify-content: space-between;
}

.small_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
    padding: 30px 41px;
    border: 2px solid #DCB47A;
}

.small_div_photo {
    width: 100%;
    margin-bottom: 37px;
}

.small_div_li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 17px;
}

/* footer */
footer {
    background: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    row-gap: 49px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    color: #ffffff;
}

h4 {
    font-weight: 600;
    font-size: 60px;
}

.footer_span {
    color: #DCB47A;
}

.footer_p {
    font-weight: 400;
    font-size: 20px;
}

.footer_button {
    width: 200px;
    padding: 22px 60px;
    border-radius: 60px;
    font-weight: 700;
    font-size: 16px;
    background: #DCB47A; 
}